{% extends "base.html" %}

{% block title %}{{content.title}}{%endblock title%}

{%block content%}

<div class="detail-container">
    <div class="detail-header">
        <h1 class="article-title">{{content.title}}</h1>
        <div class="detail-text">
            <span> <i class="bi bi-person">Yazar: <strong>{{content.author.username}}</strong></i></span>
            <span> {{content.created_at|date:'d F Y,H:i'}}</span>
        </div>
    </div>
</div>

{% if content.image %}
    <img src="{{content.image.url}}" class="detail-image" alt="{{content.title}}">
{% endif %}

<div class="article-content">
    {{content.content|linebreaks}}
</div>

<hr class="my-4">
<div class="detail-footer d-flex justify-content-between align-item-center">
    <div>
        {% if content.post_tag %}
        <a href="{%url 'content_by_tag' content.post_tag.slug%}" class="btn btn-sm btn-outline-primary">{{content.post_tag.name}}</a>
        {% endif %}
    </div>
    <a href="{% url 'content_list' %}" class="btn btn-secondary">&laquo; Listeye Dön</a>
</div>

{%endblock content%}