{% extends "base.html" %}

{% block content %}

    <div class="mb-4">
        {% if current_tag %}
            <h2><span class="text-primary">#{{ current_tag.name }}</span> Etiketine Ait İçerikler</h2>
            <a href="{% url 'content_list' %}" class="btn btn-sm btn-outline-secondary mt-2">&laquo; Tüm Haberlere Dön</a>
        {% else %}
            <h2>Anasayfa</h2>
        {% endif %}
    </div>

    <div class="row">
        
        {% for content in contents %}
        <div class="col-lg-4 col-md-6 mb-4">
            
            <div class="card h-100 ">
                
                {% if content.image %}
                    <img src="{{ content.image.url }}" class="card-img-top" alt="{{ content.title }}" >
                {% else %}
                    <div class="no-image-box">
                        <span>Görsel Yok</span>
                    </div>
                {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title">{{ content.title }}</h5>
                    
                    <p class="card-text text-muted">{{ content.content|truncatewords:10 }}</p>
                </div>
                
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        
                        {% if content.post_tag %}
                            <a href="{% url 'content_by_tag' content.post_tag.slug %}" class="card-btn-tag btn btn-primary btn-sm">
                                {{ content.post_tag.name }}
                            </a>
                        {% endif %}
                        
                        <a href="{% url 'content_detail' content.id %}" class="card-btn-continue btn btn-primary btn-sm">
                            Devamı...
                        </a>
                    </div>
                    
                    <div class="text-muted small border-top pt-2">
                        <span class="me-2">Yazar: <strong>{{ content.author.username }}</strong></span>
                        <span>| {{ content.created_at|date:"d M Y" }}</span>
                    </div>
                </div>
            </div>
            
        </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info text-center p-5">
                    <h4>Henüz içerik bulunmamaktadır.</h4>
                    <p>Lütfen daha sonra tekrar kontrol ediniz veya içerik ekleyiniz.</p>
                </div>
            </div>
        {% endfor %}

    </div> 
    {% with is_filtered=current_tag %}
        {% if is_filtered %}
            {% url 'content_by_tag' is_filtered.slug as base_url %}
        {% else %}
            {% url 'content_list' as base_url %}
        {% endif %}

        {% if contents.has_other_pages %}
            <nav aria-label="Sayfa Navigasyonu" class="mt-5">
                <ul class="pagination justify-content-center">
                    
                    <li class="page-item {% if not contents.has_previous %}disabled{% endif %}">
                        <a class="page-link" 
                            href="{{base_url}}{% if contents.has_previous %}?page={{ contents.previous_page_number }}{% endif %}"
                            aria-label="Previous">
                            &laquo; Önceki
                        </a>
                    </li>

                    {% for i in contents.paginator.page_range %}
                        <li class="page-item {% if contents.number == i %}active{% endif %}">
                            <a class="page-link" href="{{base_url}}?page={{i}}">{{i}}</a>
                        </li>
                    {% endfor %}

                    <li class="page-item {% if not contents.has_next %}disabled{% endif %}">
                        <a class="page-link" 
                        href="{{base_url}}{% if contents.has_next %}?page={{ contents.next_page_number }}{% endif %}" 
                        aria-label="Next">
                            Sonraki &raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% endwith %}

{% endblock content %}