{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <h2>Giriş Yap</h2>

        <form method="POST">
            {% csrf_token%}
            
            {{form.as_p}}
            <button type="subimt" class="btn btn-primary w-100 mt-3">Giriş Yap</button>
        </form>

        <div class="text-center mt-3">
            <small class="text-muted">
                Hesabınız yok mu? <a href="{% url 'register' %}">Kayıt Olun</a>
            </small>
        </div>
    </div>
{% endblock content%}