{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <h2>Aramıza katılmak ister misin?</h2>
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary w-100 mt-3">Kayıt Ol</button>  
        </form>
        <div class="text-center mt-3">
            <small class="text-muted">
                Zaten hesabın var mı? <a href="{% url 'login' %}">Giriş Yap</a>
            </small>
        </div>
    </div>
{% endblock content %}  