<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Anasayfa{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'content_list' %}">content_list</a>
        </nav>

        <main>
            {% block content %}
                {% endblock content%}
        </main>
        <footer>
            <p>Copyright</p>
        </footer>
    </header>
</body>
</html>